@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-style: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-logo:hover {
  opacity: 0.6;
}

.main-logo:active {
  opacity: 0.3;
}

.header-user-navigation a {
  color: rgb(0, 0, 0);
}

.header-user-navigation a:hover {
  opacity: 0.6;
}
.header-user-navigation a:active {
  opacity: 0.3;
}

.main-nav .nav-title {
  position: relative;
}

.catalog-product {
  margin-top: 16px;
  margin-bottom: 16px;
}

.nav-title a,
.button-title a {
  color: #000000;
}

.nav-title a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.sub-menu {
  width: 200px;
}

.sub-menu li {
  margin-bottom: 6px;
}

.sub-menu a {
  color: #000000;
}

.sub-menu a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sub-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.link:active {
  color: rgba(0, 0, 0, 0.3);
}

.wrapper {
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Блок Шапка */

.main-header {
  max-width: 1040px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 40px;
  min-height: 300px;
}

.background-header {
  background-color: #f7e296;
}

.main-logo {
  position: relative;
  bottom: 19px;
  left: -1px;
  width: 165px;
}

.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.form-search input {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: 15px;
  line-height: 30px;
  font-weight: 300;
  background-color: #f7e296;
  border: 0;
  padding-left: 20px;
  margin-top: -2px;
  opacity: 0.3;
}

.form-search input:hover {
  opacity: 0.6;
}

.form-search input:focus {
  border-bottom: 2px solid #000000;
  width: 440px;
  opacity: 1;
  color: rgb(0, 0, 0);
}

.icon-button {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-color: #f7e296;
  border: 0;
  width: 16px;
  height: 23px;
  position: relative;
  top: 6px;
  left: 3px;
  display: inline-block;
  vertical-align: middle;
}

.button-search button {
  width: 81px;
  height: 45px;
  background-color: #f7e296;
  border: 2px solid #000000;
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}

.button-search button:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-search button:active {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: 0;
  bottom: 0;
}

.form-search input:focus + .button-search button {
  width: 85px;
  height: 50px;
  display: block;
  cursor: pointer;
}

.top-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.user-block-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 15px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 15px;
}

.block-user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 214px;
  padding-left: 26px;
}

.top-header-nav .user-block-navigation {
  min-width: 500px;
  margin-top: -2px;
}

.user-block-navigation .enter {
  padding-right: 175px;
}

.nav-title,
.button-title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1042px;
  margin-top: 22px;
  padding: 0;
  position: relative;
}

.nav-service {
  min-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-servise-title {
  min-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.open-menu {
  position: absolute;
  top: 19px;
  left: 231px;
  width: 16px;
  height: 16px;
  cursor: pointer;

}

.open-menu::before,
.open-menu::after {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  top: 8px;
  background-color: rgba(0, 0, 0, 0.3);
}

.open-menu::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.open-menu::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  background-color: #f7e296;
  position: relative;
  height: 139px;
  width: 1100px;
  position: absolute;
  z-index: 1;
  left: -60px;
  top: 25px;
  padding-left: 60px;
  padding-top: 23px;
}

#open-menu:checked ~ .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-title .button-page {
  cursor: pointer;
}

.header-nav-deployed > .sub-menu {
   margin-right: 40px;
}

.nav-servise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 500px;
  position: relative;
}

.user-icon,
.compare-icon,
.cart-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
}

.user-icon {
  margin-right: 12px;
}

.user-icon {
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: baseline;
  width: 13px;
  height: 12px;
}

.compare-icon {
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: baseline;
  width: 10px;
  height: 10px;
}

.cart-icon {
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: baseline;
  width: 10px;
  height: 10px;
  margin-right: 12px;
}

.user-icon-footer,
.compare-icon-footer,
.cart-icon-footer {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  margin-top: -5px;
}

.user-icon-footer {
  background-image: url(../img/user-yellow.svg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 12px;

}

.compare-icon-footer {
  background-image: url(../img/compare-yellow.svg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
}

.cart-icon-footer {
  background-image: url(../img/cart-yellow.svg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
}

.exit {
  margin-left: -20px;
}

.exit a {
  color: rgba(0, 0, 0, 0.3);
}

.dropp {
  background-image: url(../img/plus.svg);
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}

/* Блок Слайдер */

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1160px;
  min-height: 480px;
  margin-top: -110px;
  margin-bottom: 110px;
}

.slider-pic,
.slider-content {
  width: 560px;
  position: relative;
}

.selfish-stick img {
  position: absolute;
  left: -510px;
  top: -2px;
}

.fitness-tracker img {
  position: absolute;
  left: -484px;
  top: 10px;
}

.dron img {
  position: absolute;
  left: -569px;
  top: 63px;
}

.slider-content-title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  margin-top: 35px;
  margin-bottom: 20px;
  letter-spacing: 0.01em;
  position: relative;
}

.slider-content {
  position: relative;
  margin: 0;
  padding: 0;
}

.number {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 179.2px;
  position: absolute;
  right: 49px;
  top: -16px;
  line-height: 179.2px;
  color: #ffffff;
}

.white-line {
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  margin-top: 35px;
}

.slider-content .slider-content-discription {
  color: #464646;
  letter-spacing: 0.01em;
}

.slider-content-discription {
  font-size: 15px;
}

.nav-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 500px;
  margin-top: 25px;
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 60px;
  top: 318px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 80px;
  margin-right: 20px;
}

.button-page {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f0c52e),
    to(#f0c52e)
  );

  background-image: -webkit-linear-gradient(#f0c52e, #f0c52e);
  background-image: -o-linear-gradient(#f0c52e, #f0c52e);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0c52e), to(#f0c52e));
  background-image: linear-gradient(#f0c52e, #f0c52e);
  background-size: 100% 20%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(239, 239, 239, 0);
  text-align: center;
  width: 220px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  text-transform: uppercase;
}

.item-controls > .button-page {
  width: 200px;
}

.button-page:hover {
  background-size: 100% 100%;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.button-page a:active {
  opacity: 0.3;
}

.feature-name {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #464646;
}

.significance-characteristics {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.characteristics tr {
  display: block;
}

.characteristics {
  padding-top: 30px;
}

.significance-characteristics-main td,
.feature-name-main td {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0;
}

.significance-characteristics-main .significance-characteristics,
.feature-name-main .feature-name {
  min-width: 130px;
}

.significance-characteristics-main .characteristics-column-2,
.feature-name-main .characteristics-column-2 {
  padding-left: 22px;
}

.significance-characteristics-main .characteristics-column-3,
.feature-name-main .characteristics-column-3 {
  padding-left: 5px;
}

.switch-button {
  background-repeat: no-repeat;
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 7px;
  right: 1px;
}

.img-selfish-stick,
.img-fitness-tracker,
.img-dron {
  position: absolute;
}

.switch-button {
  background-image: url(../img/slider-button-empty.svg);
  cursor: pointer;
  z-index: 1;
}

#slider-1:checked ~ .switch label[for="slider-1"],
#slider-2:checked ~ .switch label[for="slider-2"],
#slider-3:checked ~ .switch label[for="slider-3"] {
  background-image: url(../img/slider-button.svg);
}

#slider-1:checked ~ .selfish-stick,
#slider-2:checked ~ .fitness-tracker,
#slider-3:checked ~ .dron {
  display: block;
}

#slider-1:not(:checked) ~ .selfish-stick,
#slider-2:not(:checked) ~ .fitness-tracker,
#slider-3:not(:checked) ~ .dron {
  display: none;
}


/* Блок Категории товаров */

.products-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -2px;
}

.categories {
  margin-bottom: 161px;
}

.categories-product {
  width: 160px;
  height: auto;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 160px;
  margin-bottom: 40px;
  position: relative;
}

.product-item img {
  position: absolute;
}

.virtual-reality img {
  top: 52px;
  left: 32px;
}
.monopods-selfie img {
  top: 41px;
  left: 38px;
}
.action-cameras img {
  top: 38px;
  left: 49px;
}
.fitness-bracelets img {
  top: 50px;
  left: 29px;
}
.smart-watch img {
  top: 32px;
  left: 55px;
}
.quadrocopters img {
  top: 49px;
  left: 14px;
}


.categories-product {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f7e296),
    to(#f7e296)
  );
  background-image: -webkit-linear-gradient(#f7e296, #f7e296);
  background-image: -o-linear-gradient(#f7e296, #f7e296);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7e296), to(#f7e296));
  background-image: linear-gradient(#f7e296, #f7e296);
  background-size: 100% 62%;
  background-repeat: no-repeat;
}

.categories-product:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f0c52e),
    to(#f0c52e)
  );
  background-image: -webkit-linear-gradient(#f0c52e, #f0c52e);
  background-image: -o-linear-gradient(#f0c52e, #f0c52e);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0c52e), to(#f0c52e));
  background-image: linear-gradient(#f0c52e, #f0c52e);
}

.categories-product:active h3 {
  color: rgba(0, 0, 0, 0.3);
}

.categories-product:active img {
  opacity: 0.3;
}

.categories-product .title-product {
  margin-top: -7px;
}

.title-product {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
}

.title-product:active {
  color: rgba(0, 0, 0, 0.3);
}

.name-price > .title-product {
  width: 260px;
}

/* Болк Сервис */

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e5e5e5;
  height: 288px;
  margin-top: 163px;
}
.services > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.block-title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
  margin-top: 38px;
}

.about .block-title,
.contacts .block-title {
  margin-top: 55px;
  margin-bottom: 42px;
}

.about p {
  margin-bottom: 31px;
}

.our-services {
  width: 279px;
  min-height: 230px;
  border-right: solid 7px #000000;
  position: relative;
  top: -116px;
  padding-top: 80px;
}

.our-services li {
  margin-bottom: 23px;
  text-transform: uppercase;
  padding-top: 6px;
}

.our-services .credit-button {
  margin-top: 25px;
}

.services-description {
  width: 761px;
  padding-left: 115px;
  position: relative;
  min-height: 288px;
}

.services-description li {
  position: absolute;
  top: -83px;
}

.services-description-icon {
  position: absolute;
  right: -270px;
  top: 35px;
}

.services-warranty-icon {
  position: absolute;
  right: -277px;
  top: 13px;
}

.services-credit-icon {
  position: absolute;
  right: -267px;
  top: 13px;
}

.services-description-text {
  letter-spacing: 0.01em;
  color: #464646;
  font-size: 15px;
}

.label-delivery {
  padding-left: 19px;
  padding-right: 19px;

}
.label-warranty {
  padding-left: 25px;
  padding-right: 25px;
}
.label-credit {
  padding-left: 38px;
  padding-right: 38px;
}
.label-delivery,
.label-warranty,
.label-credit {
  cursor: pointer;
  letter-spacing: 0.2em;
  line-height: 24px;
}

#servic-delivery:checked ~ .services-description .delivery,
#servic-warranty:checked ~ .services-description .services-warranty,
#servic-credit:checked ~ .services-description .services-credit {
  display: block;
}

#servic-delivery:not(:checked) ~ .services-description .delivery,
#servic-warranty:not(:checked) ~ .services-description .services-warranty,
#servic-credit:not(:checked) ~ .services-description .services-credit {
  display: none;
}

.button-servic {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0c52e), to(#f0c52e));
  background-image: -webkit-linear-gradient(#f0c52e, #f0c52e);
  background-image: -o-linear-gradient(#f0c52e, #f0c52e);
  background-image: linear-gradient(#f0c52e, #f0c52e);
  background-size: 100% 20%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 160px;
  height: 34px;
}

.button-servic:hover {
  background-size: 100% 100%;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.button-servic:active {
  width: 280px;
  background: #000000;
  color: #f7e184;
}

#servic-delivery:checked ~ .our-services .delivery-button,
#servic-warranty:checked ~ .our-services .warranty-button,
#servic-credit:checked ~ .our-services .credit-button {
  width: 280px;
  height: 34px;
  background: #000000;
  color: #f7e184;
}

.delivery .block-title,
.services-warranty .block-title,
.services-credit .block-title {
  margin-top: 40px;
  margin-bottom: 32px;
}

/* Блок Партнеры */

.our-partners {
  margin-top: 94px;
}

.partners {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.partners-item {
  height: 100px;
  width: 260px;
}

.partners-dji {
  background-image: url(../img/logo-dji.jpg);
  background-repeat: no-repeat;
  opacity: 0.2;
}

.partners-dji:hover {
  background-image: url(../img/logo-dji-color.jpg);
  background-repeat: no-repeat;
  opacity: 1;
}

.partners-gadgest {
  background-image: url(../img/logo-gadgest.jpg);
  background-repeat: no-repeat;
  opacity: 0.2;
}

.partners-gadgest:hover {
  background-image: url(../img/logo-gadgest-color.jpg);
  background-repeat: no-repeat;
  opacity: 1;
}

.partners-gopro {
  background-image: url(../img/logo-gopro.jpg);
  background-repeat: no-repeat;
  opacity: 0.2;
}

.partners-gopro:hover {
  background-image: url(../img/logo-gopro-color.jpg);
  background-repeat: no-repeat;
  opacity: 1;
}

.partners-vive {
  background-image: url(../img/logo-vive.jpg);
  background-repeat: no-repeat;
  opacity: 0.2;
}

.partners-vive:hover {
  background-image: url(../img/logo-vive-color.jpg);
  background-repeat: no-repeat;
  opacity: 1;
}

/* Блок Онас/Контакты */

.info-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 90px;
  position: relative;
  padding-bottom: 81px;
}

.about,
.contacts {
  width: 560px;
  position: relative;
}

.black-line {
  position: absolute;
  margin-top: 2px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts .button-page,
.about .button-page {
  width: 260px;
}

.contacts .button-page:active {
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.about p,
.contacts p {
  color: #464646;
  font-size: 15px;
  line-height: 30px;
}

.about .link {
  margin-top: 62px;
}

.about .link,
.contacts .link {
  margin-bottom: 88px;
}

.list-about {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  margin-top: 67px;
  margin-bottom: 56px;
}

.list-about li {
  list-style-type: circle;
  padding-left: 18px;
  margin-left: 18px;
}

.close {
  opacity: 0.5;
  background-image: url(../img/modal-close.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  border: 0;
  width: 56px;
  height: 55px;
  position: absolute;
  top: 22px;
  right: 22px;
  border-radius: 70%;
}

.close:hover {
  opacity: 1;
}

.close:active {
  opacity: 0.3;
}

.map {
  margin-top: 40px;
  margin-bottom: 61px;
}

.map-big {
  display: none;
  position: absolute;
  top: 40px;
  right: 100px;
}

.map-big > img {
  -webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.form-contacts {
  display: none;
  height: 553px;
  width: 760px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 78px;
  position: absolute;
  top: -755px;
  left: -500px;
}

.personal-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.personal-form input,
.form-text textarea {
  color: #464646;
  background-color: #f2f2f2;
  border: 0;
  opacity: 0.4;
  padding-left: 20px;
}

.personal-form input {
  width: 340px;
  height: 50px;
  color: #464646;
}

.form-text textarea {
  width: 740px;
  padding-top: 17px;
  margin-bottom: 20px;
  color: #464646;
}

/* Блок Подвал */

.footer-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo-footer:hover {
  opacity: 0.6;
}

.logo-footer:active {
  opacity: 0.3;
}

.main-footer {
  color: #ffffff;
  background-color: #464646;
  padding-top: 66px;
  padding-bottom: 65px;
  margin-top: 0px;
}

.footer-user > .user-navigation {
  min-width: 325px;
  position: relative;
  top: -6px;
  right: -1px;
}

.footer-user-navigation a {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.01em;
}

.footer-user-navigation a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-nav .nav-title a {
  color: rgba(255, 255, 255, 1);
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 430px;
  padding-right: 40px;
}

.footer-nav .nav-title a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav .nav-title a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
}

.address {
  bottom: 25px;
  margin-top: 10px;
  font-size: 15px;
}

.telephone {
  margin-top: 10px;
  font-size: 15px;
}

.footer-line {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  margin-top: 60px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 140px;
  padding-right: 53px;
  margin-top: 47px;
}

.social {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.icon-facebook {
  margin-right: -12px;
  background-image: url(../img/sprit.png);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.icon-facebook:hover {
  background-image: url(../img/sprit.png);
  background-repeat: no-repeat;
  opacity: 0.6;
}

.icon-facebook:active {
  background-image: url(../img/sprit.png);
  background-repeat: no-repeat;
  opacity: 0.1;
}

.icon-instagram {
  background-image: url(../img/sprit.png);
  background-repeat: no-repeat;
  background-position:-34px;
  opacity: 0.3;
  margin-left: 15px;
}

.icon-instagram:hover {
  background-image: url(../img/sprit.png);
  background-repeat: no-repeat;
  background-position:-34px;
  opacity: 0.6;
}

.icon-instagram:active {
  background-image: url(../img/sprit.png);
  background-repeat: no-repeat;
  background-position:-34px;
  opacity: 0.1;
}

.icon-twitter {
  background-image: url(../img/sprit.png);
  background-repeat: no-repeat;
  background-position:-67px;
  opacity: 0.3;
}

.icon-twitter:hover {
  background-image: url(../img/sprit.png);
  background-repeat: no-repeat;
  background-position:-67px;
  opacity: 0.6;
}

.icon-twitter:active {
  background-image: url(../img/sprit.png);
  background-repeat: no-repeat;
  background-position:-67px;
  opacity: 0.1;
}

.logo-academy {
  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
  opacity: 1;
  min-height: 35px;
  min-width: 27px;
  margin-top: 45px;
  display: inline-block;
  vertical-align: middle;
}

.logo-academy:hover {
  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
  opacity: 0.6;
}

.logo-academy:active {
  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

label {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

/* Шапка Каталога */

.background-header > .catalog-header {
  min-height: 186px;
}

.catalog-header .main-logo {
  bottom: 18px;
}

/* Хлебные крошки */

.header-catalog {
  margin-left: 60px;
}

.header-catalog h1 {
  margin-bottom: 20px;
}

.header-catalog-page {
  background-color: #ebebeb;
  width: auto;
}

.products-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 760px;
  margin-left: 72px;
}

.products-wrapper .filter-goods {
  margin-right: 40px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 400px;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  padding-right: 17px;
}

/* Стрелки в хлебных крошках */

.nav-arrow {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  margin-left: 13px;
  position: relative;
  top: -2px;
  width: 4px;
  height: 7px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.header-product-nav {
  margin: 0;
  padding: 0;
  margin-top: 43px;
}

.container-product-nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-product-left {
  background-color: #dbdbdb;
  width: 33.5%;
}

.header-product-right {
  background-color: #ebebeb;
  width: 66.5%;
}
.header-product-left,
.header-product-right {
  padding-top: 6px;
  padding-bottom: 3px;
}

/* Блок Фильтр товара */

.main-block-produkts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-header {
  min-height: 60px;
  background-color: #dcdcdc;
  padding-left: 200px;
  padding-top: 10px;
}

.filter-header-name {
  display: inline-block;
  vertical-align: middle;
  float: right;
  width: 265px;
}

.filter {
  background-image: url("../img/background-side.jpg");
  background-repeat: repeat;
  background-color: #efefef;
  width: 33.5%;
  min-height: 1213px;
  padding-top: 0;
}

.filter-content {
  padding-top: 49px;
  width: 270px;
  float: right;
}

.form-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.products-side {
  padding-top: 69px;
  width: 66.5%;
}

.main-block-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 760px;
  margin-left: 72px;
}

.block-products {
  min-width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.products-item {
  min-width: 360px;
  margin-bottom: 27px;
  position: relative;
}

.name-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 6px;
}

.item-controls {
  position: absolute;
  top: 170px;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filter-goods {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-color,
.filter-bluetooth {
  font-size: 14px;
  letter-spacing: 0.01em;
}

.block-filter {
  border-top: 2px solid #000000;
  margin-top: 20px;
  width: 200px;
  margin-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
}

.filter-color .color-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#colour-black:checked ~ .color-choice label[for="colour-black"],
#colour-white:checked ~ .color-choice label[for="colour-white"],
#colour-blue:checked ~ .color-choice label[for="colour-blue"],
#colour-red:checked ~ .color-choice label[for="colour-red"],
#colour-pink:checked ~ .color-choice label[for="colour-pink"] {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 8px;
}



.color-active {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 24px;
  position: relative;
  top: 0;
  margin-right: 12px;
}

.filter-bluetooth .bluetooth-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bluetooth-label {
  position: relative;
}

.bluetooth-label .bluetooth-text {
  position: absolute;
  top: -8px;
  left: 40px;
}

.bluetooth-label label {
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.bluetooth-label label:hover {
  opacity: 0.6;
}
.bluetooth-label label:focus {
  opacity: 1;
}

#bluetooth-yes:checked ~ .bluetooth-label label[for="bluetooth-yes"],
#bluetooth-no:checked ~ .bluetooth-label label[for="bluetooth-no"] {
  background-image: url(../img/radio-on.svg);
}

#bluetooth-yes:active ~ .bluetooth-label label[for="bluetooth-yes"],
#bluetooth-no:active ~ .bluetooth-label label[for="bluetooth-no"] {
  opacity: 1;
  background-image: url(../img/radio-on.svg);
}

.color:hover {
  opacity: 0.6;
}

.color:active {
  opacity: 1;
}

.color-none {
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 24px;
  position: relative;
  top: -1px;
  margin-right: 12px;
}

.color-none:hover {
  opacity: 0.6;
}

.color-none:active {
  background-image: url(../img/checkbox-on.svg);
  opacity: 1;
  width: 27px;
  height: 24px;
  position: relative;
  top: 0px;
}

.price-line {
  width: 74%;
  height: 2px;
  background-image: -webkit-linear-gradient(left, #91c92f 120px, #dbdbdb 80px);
  background-image: -o-linear-gradient(left, #91c92f 120px, #dbdbdb 80px);
  background-image: linear-gradient(to right, #91c92f 120px, #dbdbdb 80px);
  margin-top: 25px;
  margin-bottom: 15px;
}

.button-left,
.button-right {
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 22px;
  position: absolute;
  top: -27px;
}

.button-left,
.button-right:hover {
  cursor: pointer;
}

.button-left {
  left: -5px;
}

.button-right {
  left: 108px;
}

.price-button-right {
  position: absolute;
}

.value-min,
.value-max {
  position: absolute;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  top: -5px;
}

.value-max {
  left: 90px;
}

.block-filter > .title-product {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
}

.filter-color > .title-product {
  margin-bottom: 18px;
  margin-top: 0px;
}

.filter-color .color,
.filter-bluetooth label {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #000000;
}

.filter-color {
  margin-bottom: 10px;
}

.form-filter > .filter-bluetooth {
  padding-top: 0;
}

.filter-bluetooth > .title-product {
  margin-top: 13px;
}

.filter-bluetooth > li {
  margin: 0;
  padding: 0;
  margin-bottom: 1px;
}

.form-filter > .button-page {
  margin-top: 19px;
  width: 200px;
}

.form-filter > .button-page:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Блок с товаром */

.title-product a {
  color: #000000;
}

.filter-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.filter-btn:hover {
  color: rgba(0, 0, 0, 0.6);
}

.filter-btn:active,
.marker {
  color: rgba(0, 0, 0, 1);
}

.header-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 280px;
  padding: 0 12px;
  margin-right: 220px;
  margin-top: 13px;
}

.icon-dir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 42px;
}

.header-filter-top {
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  width: 11px;
  height: 14px;
  opacity: 0.2;
  border: 0;
}

.header-filter-top:hover {
  opacity: 0.4;
}

.header-filter-top:active {
  opacity: 1;
}

.header-filter-bottom {
  width: 11px;
  height: 14px;
  opacity: 1;
  border: 0;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
}

.header-filter-bottom:hover {
  opacity: 0.4;
}

.header-filter-bottom:active {
  opacity: 1;
}

.header-filter > .filter-btn {
  color: #000000;
}

.products-item:hover .wrapper-product {
  opacity: 0.7;
}

.wrapper-product:hover .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-card {
  color: #000000;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
}

.button-card:active {
  color: rgba(0, 0, 0, 0.3);
}

.compare-product {
  color: rgba(0, 0, 0, 0.5);
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  margin-top: 12px;
}

.compare-product:hover {
  color: rgba(0, 0, 0, 1);
}

.compare-product:active {
  color: rgba(0, 0, 0, 0.2);
}

.price {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #464646;
  position: relative;
  padding-top: 32px;
}

.price-product {
  padding-top: 19px;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #464646;
}

.icon-new {
  width: 65px;
  height: 65px;
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 24px;
  right: 17px;
  padding-left: 10px;
  padding-top: 15px;
  color: rgba(0, 0, 0, 0.2);
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2em;
  display: none;
}

.icon-text {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 6px;
  left: 8px;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.products-item > .icon-new-on {
  display: block;
}

/* Блок Навигация по страницам с товаром */

.nav-page-products .page {
  height: 66px;
  vertical-align: middle;
}

.page a {
  margin-left: 28px;
  line-height: 70px;
  vertical-align: middle;
}

.page a {
  color: rgba(0, 0, 0, 0.3);
}

.page a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.page a:active {
  color: rgba(0, 0, 0, 1);
}

.nav-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #ebebeb;
  margin-bottom: 76px;
  margin-top: -12px;
  padding: 0;
  width: 760px;
  height: 72px;
}

.nav-page-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -25px;
}

.pages-before {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.pages-before:hover {
  background-color: #d9d9d9;
}

.pages-before:active {
  color: rgba(0, 0, 0, 0.3);
}

.pages-after:hover {
  background-color: #d9d9d9;
}

.pages-after:active {
  color: rgba(0, 0, 0, 0.3);
}

.pages-after {
  margin-right: 3px;
}

.button-nav {
  border: 0;
  background-color: #ebebeb;
  line-height: 70px;
  vertical-align: middle;
  width: 130px;
  margin: 0px;
  padding: 0px;
}

.first-page a {
  color: #000000;
}

.footer-user .footer-nav-catalog {
  min-width: 480px;
}

.footer-nav-catalog .exit {
  margin-left: -18px;
}

.footer-nav-catalog .exit a {
  color: rgba(255, 255, 255, 0.3);
}

