@font-face {
  font-family: 'gilroyextrabold';
  src: url('fonts/gilroyextrabold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gilroylight';
  src: url('fonts/gilroylight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}
