@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', Arial, sans-serif;
  font-style: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-logo:hover {
  opacity: 0.6;
}

.main-logo:active {
  opacity: 0.3;
}

.main-header {
  background-color: #f7e296;
}

.nav-title {
  font-family: Gilroy, 'Myriad Pro', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
}

.exit {
  opacity: 0.3;
}

.slider-content-title {
  font-family: Gilroy, 'Myriad Pro', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
}

.number {
  font-family: Gilroy, 'Myriad Pro', sans-serif;
  font-weight: 800;
  font-size: 179.2px;
  line-height: 179.2px;
  color: #ffffff;
}

.slider-content-discription {
  color: #464646;
}

.link {
  background-color: #f0c52e;
}

.feature-name {
  font-family: Gilroy, 'Myriad Pro', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 48px;
}

.significance-characteristics {
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}

.categories-product {
  background-color: #f7e296;
}

.title-product {
  font-family: Gilroy, 'Myriad Pro', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}


.services {
  background-color: #e5e5e5;
}

.block-title{
  font-family: Gilroy, 'Myriad Pro', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.services-description p {
  color: #464646;
}

.about p, .contacts p {
  color: #464646;
}

.list-about {
  font-family: Gilroy, 'Myriad Pro', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
}

.main-footer {
  color: #ffffff;
  background-color: #464646;
}

.footer-user-navigation {
  line-height: 36px;
}




.breadcrumbs {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3)
}

.filter {
  background-image: url('../img/background-side.jpg');
  background-repeat: repeat;
  background-color: #efefef;
}

.filter-goods {
  font-family: Gilroy, 'Myriad Pro', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
}

.filter-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3)
}

.header-filter>.filter-btn {
  color: #000000;
}

.header-filter-top {
  background-color: rgba(0, 0, 0, 0.2)
}

.header-filter-bottom {
  background-color: #000000;
}

.price {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #464646;
}

.filter-color,
.filter-bluetooth {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

